<%= render 'top_bar_public' %>

<div class="row user-content">
  <div class="col-md-7 col-md-offset-2">
    <div class="page-header"><%= t 'devise.confirmations.show.title' %></div>

    <%= simple_form_for(@user,  url: confirm_path, method: :put) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :password, required: true, autofocus: true, hint: t("devise.confirmations.new.password_lenght"), input_html: { class: 'input-text' } %>
        <%= f.input :password_confirmation, required: true, input_html: { class: 'input-text' } %>
        <%= f.input :confirmation_token, as: :hidden, required: true, input_html: { class: 'input-text', value: @original_token } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('devise.confirmations.new.confirm'), class: 'btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
