<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :last_name %>
  <%= f.association :current_district, as: :select2, collection: District.all %>
  <%= f.input :photo %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
