<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <%= icon 'list-alt' %>
    <%= t 'global.actions.back' %>
  <% end %>
  <h1><%= t '.title' %></h1>
</div>

<div class="alert alert-info" role="alert">
  Lo primero que debe realizar en el sistema, es completar el formulario con sus  datos personales y sus datos laborales
</div>

<%= render 'form' %>
