<div class="page-header">
  <%= link_to my_projects_path, class: 'btn btn-default' do %>
    <%= icon 'list-alt' %>
    <%= t 'global.actions.back' %>
  <% end %>
  <h1><%= t '.title' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= t 'activerecord.attributes.person.name' %></dt>
  <dd><%= @person.name %></dd>

  <dt><%= t 'activerecord.attributes.person.last_name' %></dt>
  <dd><%= @person.last_name %></dd>

  <dt><%= t 'activerecord.attributes.person.current_district' %></dt>
  <dd><%= @person.current_district %></dd>
</dl>

