<%= simple_form_for(@user) do |f| %>
  <!-- Google Chrome form autocomplete buster -->
  <input type="password" style="display:none;">

  <%= f.error_notification %>
  <div class="row">
    <%= f.input :email, wrapper_html: { class: 'col-md-6'  }  %>
    <%= f.input :roles, as: :enum, wrapper_html: { class:' col-md-6' }%>
    <%= f.simple_fields_for :person do |p| %>
      <%= p.input :name, wrapper_html: { class: 'col-md-4' }  %>
      <%= p.input :last_name, wrapper_html: { class: 'col-md-4' } %>
      <%= p.input :district, as: :select2,
        collection: District.all, wrapper_html: { class: 'col-md-4' }%>
    <% end %>
    <!--f.input :password, autocomplete: "off",
      label: t('activerecord.attributes.user.password'),
      wrapper_html: { class: 'col-md-4'  }  -->
    <!--f.input :password_confirmation, autocomplete: "off",
      label: t('activerecord.attributes.user.password_confirmation'),
      wrapper_html: { class: 'col-md-4'  } -->
  </div>

<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-success',
    value: t('.submit', default: t('global.form.actions.submit')) %>
  </div>

<% end %>

