<div class="invite-user-block">
<%= simple_form_for(@user, url: send_email_invitation_user_path, method: :post) do |f| %>

  <%= f.error_notification %>
  <div class="row">
    <%= f.input :email, wrapper_html: { class: 'col-md-4'  }  %>
    <%= f.fields_for :person do |p| %>
      <%= p.input :name, wrapper_html: { class: 'col-md-4' }%>
      <%= p.input :last_name, wrapper_html: { class: 'col-md-4' }%>
      <%= p.input :user_type, as: :select,
        collection: user_types,
        input_html: { class: 'selector-user-type',
                      data: { collaborator: user_types[:collaborator],
                              councilor: user_types[:councilor] } } %>

    <div class="hidden alert alert-warning collaborator-block" role="alert">
      Seleccione el concejal al que pertenece el asesor que invitará al sistema
      <%= p.input :councilor_name, as: :select2, collection: Councilor.all,
        input_html: { class: 'input-councilor-name' }  %>
    </div>
  <% end %>
</div>


  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success',
      value: t('.submit', default: t('global.form.actions.submit')) %>
</div>
<% end %>
</div>
