<div class="page-header">
  <h1>Modificar contraseña</h1>
  <h2>Desde aquí usted podrá modificar su contraseña.</h2>
</div>

<%= simple_form_for(current_user, method: :put, url: update_password_path) do |f| %>

  <%= f.error_notification %>
  <div class="row">
    <%= f.input :password, wrapper_html: { class: 'col-md-4' }  %>
    <%= f.input :password_confirmation, wrapper_html: { class: 'col-md-4' } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success', value: 'Actualizar Contraseña' %>
    <%= link_to t('global.actions.cancel'), my_projects_path, class: 'btn btn-default' %>
  </div>
<% end %>
