<%= render partial: 'page_header', locals: { title: t('users.edit.title'), sub_title: 'Desde aquí usted podrá editar los datos de su perfil.' } %>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <%= f.input :email, wrapper_html: { class: 'col-md-6'  }  %>
    <%= f.input :roles, as: :enum, wrapper_html: { class:' col-md-6' }%>
  </div>
  <div class="row">
    <%= f.input :password, wrapper_html: { class: 'col-md-6' }%>
    <%= f.input :confirm_password, wrapper_html: { class: 'col-md-6' }%>
  </div>
  <div class="row">
    <%= p.input :name, wrapper_html: { class: 'col-md-6' }  %>
    <%= p.input :last_name, wrapper_html: { class: 'col-md-6' } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success',
      value: t('.submit', default: t('global.form.actions.submit')) %>
  </div>

<% end %>

