<div class="page-header">
  <h1><%= t '.title'  %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.user.username' %></th>
        <th><%= t 'activerecord.attributes.user.email' %></th>
        <th><%= t 'global.index.actions'  %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to icon('search'), user,
            title: t('global.actions.show') ,
            data: { toggle: 'tooltip', placement: 'right' } %>
          <%= link_to icon('pencil'), edit_user_path(user),
            title: t('global.actions.edit'),
            data: { toggle: 'tooltip', placement: 'right' } %>
          <%= link_to icon('trash'), user_path(user), method: :delete,
            title: t('global.actions.destroy'),
            data: { toggle: 'tooltip', placement: 'right', confirm: t('projects.actions.confirm_destroy')} %>
      </td>
    <% end %>
    </tbody>
  </table>
</div>
