<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <%= icon 'list-alt' %>
    <%= t 'global.actions.back' %>
  <% end %>
  <h1><%= t "users.new.#{@user.person.type.downcase}" %></h1>
</div>

<%= render 'form' %>
