
<div class="page-header">
  <%= link_to my_projects_path, class: 'btn btn-default' do %>
    <%= icon 'list-alt' %>
    <%= t 'global.actions.back' %>
  <% end %>
  <h1><%= t 'users.profile.title' %></h1>
  <h2><%= t 'users.profile.sub_title' %></h2>
</div>

<%= simple_form_for(current_user) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <%= f.input :email, wrapper_html: { class: 'col-md-4' }  %>
    <%= f.input :name, wrapper_html: { class: 'col-md-4' }  %>
    <%= f.input :last_name, wrapper_html: { class: 'col-md-4' } %>
  </div>
  <div class="row">
    <%= f.input :password, wrapper_html: { class: 'col-md-6' }%>
    <%= f.input :confirm_password, wrapper_html: { class: 'col-md-6' }%>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success',
      value: t('users.profile.submit', default: t('global.form.actions.submit')) %>
  <%= link_to my_projects_path, class: 'btn btn-default' do %>
    <%= icon 'list-alt' %>
    <%= t 'global.actions.cancel' %>
  <% end %>
</div>

<% end %>

