<div class="page-header">
  <h1><%= t 'users.profile.collaborator.title' %></h1>
  <h2><%= t 'users.profile..sub_title' %></h2>
</div>

<div>Usted es asesor del concejal <%= current_user.collaborator.councilor %>, del distrito <%= current_user.collaborator.district %>, del partido político <%= current_user.councilor.political_party %></div>

<%= simple_form_for(current_user, url: update_profile_collaborator_path) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <%= f.input :email, wrapper_html: { class: 'col-md-4' }  %>
    <%= f.input :name, wrapper_html: { class: 'col-md-4' }  %>
    <%= f.input :last_name, wrapper_html: { class: 'col-md-4' } %>
  </div>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success',
      value: t('users.profile.submit', default: t('global.form.actions.submit')) %>
    <%= link_to t('global.actions.cancel'), my_projects_path, class: 'btn btn-default' %>
  </div>
<% end %>

