<%= render partial: 'page_header', locals: { title: t('devise.passwords.edit.title'), 
                                             sub_title: t('devise.passwords.edit.sub_title')  } %>

<div class="row">
    <%= simple_form_for(@user, url: password_path(@user), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password, label: t('devise.passwords.edit.password_label'), required: true, autofocus: true, hint: (t('devise.passwords.edit.hint', length: @minimum_password_length) if @minimum_password_length) %>
        <%= f.input :password_confirmation, label: t('devise.passwords.edit.new_password_label'), required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('devise.passwords.edit.change_password') %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
