<div class="row">
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :title %>
    </div>
    <div class="col-md-4">
      <%= f.input :district %>
    </div>
    <div class="col-md-4">
      <%= f.input :dosier %>
    </div>
  </div>
  <div class="row">
    <%= f.input :description %>
  </div>
  <div class="row">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>

  <div class="form-actions">
    <%= f.submit class: "btn btn-success",
      value: t('.submit', default: t('global.form.actions.submit') )  %>
</div>
<% end %>
</div>
