<div class="row">
  <%= simple_nested_form_for(@project) do |f| %>
    <%= f.error_notification %>

    <%= f.input :project_type, as: :hidden %>

    <div class="row">
      <%= f.input :title, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :description, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :category, as: :enum, wrapper_html: { class: 'col-md-4' } %>
    </div>
    <%= f.simple_fields_for :project_files do |b| %>
      <div class="row">
        <%= b.input :name, wrapper_html: { class: 'col-md-5' } %>
        <%= b.input :attachment, wrapper_html: { class: 'col-md-6' } %>

        <div class="col-md-1">
          <%= b.link_to_remove class: 'btn btn-xs btn-danger',
            data: { toggle: 'tooltip', container: 'body' }, 
            title: t('.destroy', default: t('global.actions.destroy')) do %>
            <%= icon 'trash' %>
          <% end %>
        </div>
      </div>
    <% end %>


    <%= f.link_to_add icon('plus'), :project_files, class: 'btn btn-success',
      title: t('global.tooltip.add'), data: { toggle:'tooltip', placement:'right'  } %>

    <div class="form-actions">
      <%= f.submit class: "btn btn-success",
        value: t('.submit', default: t('global.form.actions.submit') )  %>
  </div>

<% end %>
</div>
