<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <%= icon 'list-alt' %>
    <%= t 'global.actions.back' %>
  <% end %>
  <h1><%= t "projects.new.#{@project.project_type}"  %></h1>
</div>

<%= render 'form' %>
