<div class="row">
  <div class="col-md-4 col-md-offset-4 top-buffer">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <%= t('session.login.title') %>
          </h4>
        </div>
        <div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= hidden_field_tag :return, params[:return] %>
            <%= f.input :username, required: false, autocomplete: 'off', autofocus: 'autofocus' %>
            <%= f.input :password, required: false %>
            <%= f.label :remember_me do -%>
              <%= f.input_field :remember_me, as: :boolean %>
              <%= t 'session.login.remember_me' %>
            <% end -%>

            <div class="form-group">
              <div class="text-right">
                <%= f.button :submit, t('session.login.submit'), class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <%= render 'devise/shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


