<div class="page-header">
  <div class="row">
    <div class="col-md-7">
      <h1><%= t '.title'  %></h1>
    </div>
    <div class="col-md-5">
      <div class="header-actions">
        <%= link_to new_personal_information_path,
          class: 'btn btn-primary' do %>
          <%= icon 'plus'  %>
          <%= t "personal_informations.actions.new" %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
                <th><%= t 'global.index.actions' %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @personal_informations) do |personal_information| %>
                <td>
          <%= link_to icon('eye-open'), personal_information,
            class: 'btn btn-xs btn-default',
            title: t('personal_informations.actions.show', default: t('global.actions.show')),
            data: { toggle: 'tooltip', container: 'body', placement: 'left' } %>
          <%= link_to icon('pencil'), edit_personal_information_path(personal_information),
            class: 'btn btn-xs btn-primary',
            title: t('personal_informations.actions.edit', default: t('global.actions.edit')),
            data: { toggle: 'tooltip', container: 'body', placement: 'left' } %>
          <%= link_to icon('trash'), personal_information,  method: :delete,
            class: 'btn btn-xs btn-danger',
            title: t('personal_informations.actions.destroy', default: t('global.actions.destroy')),
            data: { confirm: t('personal_informations.actions.confirm_destroy', default: t('global.actions.confirm_destroy')), toggle: 'tooltip', container: 'body', placement: 'left' } %>
      </td>
      <% end %>
    </tbody>

  </table>
</div>
