<div class="page-header">
  <%= link_to personal_informations_path, class: 'btn btn-default' do %>
    <%= icon 'list-alt' %>
    <%= t 'global.actions.back' %>
  <% end %>
  <h1><%= t '.title' %></h1>
</div>

<%= render 'form' %>
