<% if current_user %>
  <div class="navbar navbar-deluxe data-no-turbolink">

    <!--- if Settings.debug_mode -->
    <!--div class="trivial-version">
      <i><span class="glyphicon glyphicon-exclamation-sign pull-right"></span></i>
      ¡Versión de prueba!
      </div--!>
      <!-- end -->

      <div class="row">
        <%= link_to root_path do %>
          <%= image_tag asset_path('red-legislativa-logo.png'), alt: 'Logo Red Legislativa', width: '420', height: '150' %>
        <% end %>
        <ul class="pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= gravatar_tag current_user.email, size: '50' -%>
              <%= current_user.full_name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to my_profile_path do %>
                  <%= icon('user') %>
                  <%= t('views.navbar.profile') %>
                <% end %>
              </li>
              <li>
                <%= link_to change_password_path do %>
                  <%= icon('pencil') %>
                  <%= t('views.navbar.password') %>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete  do %>
                  <%= icon('remove') %>
                  <%= t('views.navbar.sign_out') %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="nav nav-pills nav-justified menu">
          <li class="menu-item">
            <%= link_to 'Ultimos proyectos',projects_path, class: 'item-name' %>
          </li>
          <% if current_user.councilor? || current_user.collaborator? %>
            <li class="menu-item">
              <%= link_to 'Mis proyectos', my_projects_path, class: 'item-name' %>
            </li>
          <% end %>
          <% if can?(:new_collaborator, current_user)%>
            <li class="dropdown menu-item">
              <a href="#" class="dropdown-toggle item-name" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Asesores<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Invitar asesor al sistema", new_collaborator_path %></li>
                <li><%= link_to "Ver lista de asesores", my_collaborators_path %></li>
              </ul>
            </li>
          <% end %>
          <% if current_user.councilor? || current_user.collaborator? %>
            <li class="dropdown menu-item">
              <a href="#" class="dropdown-toggle item-name" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nuevo Proyecto<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nueva Ordenanza", new_project_path(project_type: :ordinance) %></li>
                <li><%= link_to "Nuevo Decreto", new_project_path(project_type: :decree) %></li>
                <li><%= link_to "Nueva Resolución", new_project_path(project_type: :resolution) %></li>
                <li><%= link_to "Nueva Comunicación", new_project_path(project_type: :communication) %></li>
              </ul>
            </li>
          <% end %>
          <% if current_user.admin? %>
            <li class="dropdown menu-item">
              <a href="#" class="dropdown-toggle item-name" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Crear Usuarios", new_user_path %></li>
                <li><%= link_to "Ver lista de Usuario",  users_path %></li>
              </ul>
            </li>
          <% end %>

        </ul>
      </div><!-- /.container-fluid -->
      </div>
    <% end %>

