<%= render partial: 'page_header', locals: { title: t('charges.show.collaborators.new.title'), sub_title: t('charges.show.collaborators.new.sub_title') } %>M

<!-- CASO 1: como lo reutilizo? por users/forms tiene 4 roles y la url es distinta. -->
<div class="row">
  <!-- render partial: '/users/form', user_type: 'simple', url: invite_collaborator_charge_path -->
</div>

<!-- CASO 2:  si hago el mismo formulario desde aca TENGO QUE EMBEBERLO MUCHO -->

<%= simple_form_for(@user, url: invite_collaborator_charge_path) do |f| %>
  <!-- Google Chrome form autocomplete buster -->
  <input type="password" style="display:none;">

  <%= f.error_notification %>
  <div class="row">
    <%= f.input :email, wrapper_html: { class: 'col-md-6'  }  %>
  </div>
  <div class="row">
    <%= f.simple_fields_for :person do |p| %>
      <%= p.input :name, wrapper_html: { class: 'col-md-4' }  %>
      <%= p.input :last_name, wrapper_html: { class: 'col-md-4' } %>
      <!-- p.input :current_district_id, as: :select2, collection: District.all,
        wrapper_html: { class: 'col-md-4' } -->
    <% end %>
  </div>

<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-success',
    value: t('.submit', default: t('global.form.actions.submit')) %>
  </div>

<% end %>

