<%= render partial: 'page_header', locals: { title: t('charges.show.title'),
  sub_title: t('charges.show.sub_title')  } %>

<h3><%= t 'charges.show.current_charge' %></h3>
<div class="row alert alert-info">
  <dl class="dl-horizontal">
    <dt><%= t 'activerecord.attributes.charge.district_id' %></dt>
    <dd><%= @charge.district %></dd>

    <dt><%= t 'activerecord.attributes.charge.political_party_id' %></dt>
    <dd><%= @charge.political_party %></dd>

    <dt><%= t 'activerecord.attributes.charge.start_date' %></dt>
    <dd><%= @charge.start_date %></dd>

    <% if @charge.in_function? %>
      <dt><%= t 'activerecord.attributes.charge.in_function' %></dt>
      <dd><%= boolean @charge.in_function %></dd>
    <% else %>
      <dt><%= t 'activerecord.attributes.charge.end_date' %></dt>
      <dd><%= @charge.end_date %></dd>
    <% end %>
  </dl>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'collaborators', locals: { collaborators: @charge.collaborators } %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'projects', locals: { projects: @charge.projects } %>
  </div>
</div>

