<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield :title %> &middot; <%= t 'views.application.title' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Desarrollo CeSPI">
    <%= favicon_link_tag 'favicon.ico' %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag '//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', '//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' %>
      <![endif]-->

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>


  </head>
  <body>

    <%= render 'navbar' %>
    <div id="content" class="container">
      <%= render 'flashes' %>
      <%= yield -%>
    </div>
  </body>
</html>
